<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
</head>
<body>
<br>
<div class="center">
  <div class="pagination">
  <a href="">&laquo;</a>
  <a href="#division1">1</a>
  <a href="#division2">2</a>
  <a href="#division3">3</a>
  <a href="#division4">4</a>
  <a href="#division5">5</a>
  <a href="#division6">6</a>
  <a href="#division7">7</a>
  <a href="#division8">8</a>
  <a href="#division9">9</a>
  <a href="#division10">10</a>
  <a href="">&raquo;</a>
  </div>
</div>

<br><br><br><br>

<div class= "container">
<section id=division1>
  <h3>Section 1</h3>
    <% for(i = 0; i <= 9; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division2>
<h3>Section 2</h3>
    <% for(i = 10; i <= 19; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division3>
<h3>Section 3</h3>
    <% for(i = 20; i <= 29; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division4>
<h3>Section 4</h3>
    <% for(i = 30; i <= 39; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division5>
<h3>Section 5</h3>
    <% for(i = 40; i <= 49; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division6>
<h3>Section 6</h3>
    <% for(i = 50; i <= 59; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division7>
<h3>Section 7</h3>
    <% for(i = 60; i <= 69; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division8>
<h3>Section 8</h3>
    <% for(i = 70; i <= 79; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division9>
<h3>Section 9</h3>
    <% for(i = 80; i <= 89; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
<br><br>
<section id=division10>
<h3>Section 10</h3>
    <% for(i = 90; i <= 99; i++){ %>
    <li> 
      <strong><%= data[i].title %></strong> - <%= data[i].body %>
     </li>
    <% } %>
</section>
</div>

<br><br>

</body>
</html>
